@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>First</th>
        <th>Second</th>
    </tr>
    <tr>
        <td>Transient</td>
        <td>@ViewBag.transient</td>
        <td>@ViewBag.transient1</td>
    </tr>
    <tr>
        <td>Scoped</td>
        <td>@ViewBag.scoped</td>
        <td>@ViewBag.scoped</td>
    </tr>
    <tr>
        <td>Singleton</td>
        <td>@ViewBag.singleton</td>
        <td>@ViewBag.singleton1</td>
    </tr>
</table>